* { /* знак "*" означает, что это свойство должно быть применено ко всем селекторам в документе */
    box-sizing: border-box; /* так по умолчанию в css размеры элементов складываются не толлько из тех размеров которые мы задали(width: height:) но к этим размерам еще и прибавляются padding: margin: которые мы указываем дополнительно. чтобы padding: и margin: были в ключены в общий размер объектов, применяется свойство box-sizing: со значением border-box */
}
html {
    font-family: "Roboto-Alberto";
}
@font-face { /* подключаем скаченные шрифт для текста */
    font-family: "Roboto-Alberto"; /* даём своё любое название скаченному нами шрифту */
    src: local("Roboto"); /* называем заводское имя нашего шрифта, что дать возможность загрузить выбраный нами шрифт из компьютера пользователя(если конечно у него в компьютере есть такой шрифт), не используя скаченный нами файл шрифтов (если на копью тере будет нужный нам шрифт, это ускоряет загрузку сайта) */
    src: url(../fonts/Roboto/Roboto-Regular.ttf); /* указываем путь к скаченному нами файлу со шрифтом, если в ПК пользователя нашего шрифта не окажется */
}
@font-face { /* подключаем скаченный шрифт для заголовков */
    font-family: "Philosopher-Alberto";
    src: local("Philisipher");
    src: url(/fonts/Philosopher/Philosopher-Regular.ttf);
}
body {
    background-color: /* задаём цвет общего фона */
    #FFE2B0;
}
header {
    margin-bottom: 20px;/* задаём расстояние от логотипа до меню */
    text-align:/* действует на то, что внутри тега, а не на сам тег */
    center; /* выравнивание текста */
}
nav {
    margin-bottom: 20px;
}
ul {
    list-style-type: none; /* убирает точки(задаваемые по умолчанию) перед элементами ненумерованного списка */
    text-align: center;/* выравниваем по центру */
    padding: 0px;/* чтобы точно выравнить по центру, удаляем случайный отступ который браузел задал по умолчанию */
}
li {
    display: inline;/* делаем меню строчным */
    margin-right: 100px;/* делаем расстояние между кждым пунктом меню по 100 пикселей */
}
a { 
    color: black ; /* меняет цвет ссылок(пунктов меню) */
    text-decoration: none;/* убирает декорации применённые к тексту. в данном случае способ написания ссылок по умолчанию, "подчёркивание" */
    font-size: 18px;/* задаём шрифт */
    font-weight: 700; /* устонавливаем уровень жирнорсти */
}
a:hover {/* обращение к псевдоклассу"hovеr", для того чтобы при наведении на ссылку (пункт меню) она меняла цвет, и увеличивал размер */
    color: red;
    font-size: 25px;
}

a:visited { /* псевдокласс "visited" после посещении ссылки изменяет её цвет на выбраный */
    color: black;
}
li:last-child { /* обращение к псевдоклассу "last-child" для того чтобы при любой перестанорвки элементов списка "li", "margin-right" всегда был == 0 */
    margin-right: 0px;
}
.section-about {
    display: flex;
    height: 640px;/* задаём только высоту, так как по умолчанию блочные элементы распологаюстся на всю ширину строки */ 
    background-image: url(../img/01-background_pictur.jpg);
    background-position: center;
    background-size: cover;/* чтобы изображение не обрезалось, а адаптировалось под размеры экрана */
    background-repeat: no-repeat;/* выбираем чтобы изображение в контейнере не повторялось */
    position: relative; /* задаём родительскому алементу relative, чтобы когда дочернему зададим absolute, он продолжал позиционироваться от родительского, а не от body */
    margin-bottom: 20px; /* задаём внешний отступ для того чтобы отодвинуть на 20рх три иконки нижнего блока */
}
.section-about__block {
    width: 420px; /* задаём размеры прямоугольника */
    height: 190px;
    background: linear-gradient(180deg, rgba(244,213,178,0.8)0%, rgba(234,156,65,0.8) 100%);/* градиент-переход цвета, 180deg-это угол падения градиента, дальше перечисляются цвета градиента. rdb-это кадировка цвкта, в конце этой кодировки стоит буква "а"(это альфа-канал)-который задаёт прозрачность объекта. после каждого цвета, (в данном случае прозрачность составляет 80% которая обозначается как 0.8) в % указаны точки смещения цыета */
    position: absolute; /* задаём имеенно absolute, так как это более гибкое свойство, чем relative. Если в будущем бы захотим добавить какие-либо элементы в этот прямоуголбник, то relative будет учитываться а общем контексте вёрстки, а absolut будет вырван из общего контекста */ 
    top: 55%; /* в пикселях было 349рх, но мы задали его в процентах относительно высоты материнского объекта 640рх, для того, чтобы при просмотре на другиз устройствах, когда экран будет расширяться и сужаться, наше изображение не ездоло туда-сюда, а всегда находилось в одном и томже месте т.е. относительно материнского объекта */
    left: 51%; /* в пикселях было 730рх, но вы задали в процентах относительно ширины макета изображения */
    padding-top: 15px /* 15px;для того чтобы выровнить рамку дочернего блока по ценру, отталкиваем её с помощью подительского padding: на 15px  вниз */
}
.section-about__border {
    width: 390px;
    height: 160px;
    border: 1px solid black;
    margin: 0 auto; /* так как text-align выравникает сторочные элементы, а нам надо выравнить рамку которая является блочным, производим манипуляции с margin */ 
    padding: 17px 0 0 28px; /* задаём отступы в родительском элементе, чтобы создать границы текста в дочернем */
}
.section-about__titel {
    font-size: 36px;
    margin: 0px; /* обнуляем заводские отступы */
    margin-bottom: 9px;
    font-family: "Philosopher-alberto";
}
.section-about__text {
    font-size: 12px;
    margin: 0px;
}
.section-discripsion {
    margin-bottom: 20px;
}
.section-discripsion__icon-box { /* выравниваем содержимое селектора по центру */
    text-align: center; /* хоть тег div и блочный элемент и на него не должен действовать text-align:, но так как внутри div находятся элементы img- которые являются строчными, то при примекнени свойства text-align: оно будет действовать на содержимое блока */
    margin-bottom: 20px; /* отталкиваем нижний блок на 20рх вниз */
}
.section-discripsion__icon-box img {
    margin-right: 76px; /* отталкивая внешним отступом соседний элемент, делаем расстояние между иконками 76рх */
}
.section-discripsion__icon-box :last-child {  /* обращаемся к селектору, и применяем указанный псевдокласс ко свем содержащимся в нём элементам */
    margin-right: 0px; /* убираем отступ у элемента, которы будет стоять последним, так как ему некого толкать */
}
.section-discripsion__title {
    font-size: 96px; /* устанавливаем размер шрифта */
    margin: 0px; /* обнуляем заводские отступы заголовка */
    text-align: center; /* выравниваем заголовок по центру */
    font-family: "Philosopher-alberto";
}
.section-discripsion__text-box {
    text-align: center;
}
.red {
    color: #F15b40; /* окрашиваем слово в теге span  */
}
.section-discripsion__text {
    font-size: 18px;
    text-align: center;
    width: 1000px;
    margin: 0 auto; /* выравнивание блочных элементов */
}
.section-map {
    margin-bottom: 20px;
}
.section-map__title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    font-family: "Philosopher-alberto";
}
iframe {
    display: block; /* делаем из строчного блочный элемент для того чтобы было легче выровнять его по центру */
    margin: 0 auto; /* выравниваем по центру блочный элемент */
}
hr {
    bottom: none; /* сбрасываем заводские настройки тега hr так как normalize и resset на него не действуют */
    border: 1px solid #999999;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 20px;
}
footer {
    height: 80px; /* задаём тегу footer высоту чуть больше чем занимают входящие в него элементы, для того чтобы до конца страницы остался отступ */
}
